<div id="events-body-wrapper">
	<%= render "layouts/nav" %>
	<div class="progress small-12">
		<span class="meter" style="width: 0%"></span>
	</div>
	<div id="events-body-content" class="row hide">
		<div id="events-list-wrapper" class="small-12 medium-6 medium-push-6 columns">
			<div id="events-list-content" class="">
				<h2>Events List</h2>
				<% counter = 0 %>
				<ul class="accordion height-magic" data-accordion>
					<% @events.each do |event| %>
						<% if event['place'] && event['place']['location']%>
						<li class="accordion-navigation">
						<a class="hasLocation" lat="<%=event['place']['location']['latitude']%>" lng="<%=event['place']['location']['longitude']%>" href="#panel<%=event['id']%>a"> <%=event['name']%></a>
						<%= render partial: "event_info", locals: {event: event} %>
						</li>
						<% else %>
							<% counter +=1 %>
						<% end %>
					<% end %>
					<% if counter != 0 %>
						<div data-alert class="alert-box omitted">
							<strong><%= counter %> events did not have location data and were omitted.</strong>
							<a href="#" class="close">&#215;</a>
						</div>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="small-12 medium-6 medium-pull-6 columns">
			<div class="row">
				<div id="event-map-wrapper" class="small-12 columns">
					<div id="event-map-content">
					<h2>Map</h2>
						<div id="map">
						</div>
					</div>
				</div>
				<div id="event-directions-wrapper" class="small-12 columns">
					<div id="event-directions-content">
						<h2>Directions</h2>
						<div id="event-directions-display">
							<div id="event-directions-empty">
								<h3>Please click on an event</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="events-footer-wrapper">
		<%= render "layouts/footer" %>
	</div>
</div>
<%= render "layouts/settings_modal" %>